matplotlib==3.2.1
numpy==1.18.5
pandas==1.0.4
pytest==5.4.3
requests==2.23.0
scikit-learn==0.23.1
sklearn==0.0
spacy==2.2.4
apache-airflow==1.10.10
awscli==1.18.74
boto3==1.13.24
moto==1.3.14
pytorch==1.0.2
gym==0.17.2
pyspark==2.4.5
tweepy==3.6.0
Flask==1.1.1


